/** -----------------------------------
  variable
----------------------------------- */
$colorPureBlack: #000;
$colorBlack: #333;
$colorWhite: #fff;
$colorLightGreen: #90ee90;
$colorTeal: #008080;
$colorLightGray: #d3d3d3;
$colorVivitRed: #e34c26;