@charset "UTF-8";
/** -----------------------------------
  variable
----------------------------------- */
/** -----------------------------------
  keyframes
----------------------------------- */
@-webkit-keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** -----------------------------------
  media query
----------------------------------- */
/** -----------------------------------
  icon
----------------------------------- */
/** -----------------------------------
  reset
----------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  color: #333;
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  border: none;
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/** -----------------------------------
  base
----------------------------------- */
html {
  font-size: 0.0625vw;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 0.3125vw;
  }
}

/** -----------------------------------
  header
----------------------------------- */
.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.header.is-active {
  -webkit-box-shadow: 0 4px 4px rgba(51, 51, 51, 0.2);
          box-shadow: 0 4px 4px rgba(51, 51, 51, 0.2);
}

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}
@media screen and (max-width: 767px) {
  .header_inner {
    padding: 10rem;
  }
}

.header_title {
  font-size: 36rem;
}
@media screen and (max-width: 767px) {
  .header_title {
    font-size: 20rem;
  }
}

@media screen and (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header_item_link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  line-height: 32px;
  padding: 0 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.header_item_link::after {
  position: absolute;
  display: block;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media screen and (min-width: 768px) {
  .header_item_link:hover::after {
    width: 32%;
  }
}

/** -----------------------------------
  main
----------------------------------- */
.main {
  height: 200vh;
  padding-top: 84px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 0;
    margin-top: 30rem;
  }
}

/** -----------------------------------
  footer
----------------------------------- */
/** -----------------------------------
  hamburger
----------------------------------- */
.hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .hamburger {
    z-index: 4;
    display: block;
  }
}

.hamburger_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: transparent;
}
.hamburger_button:hover {
  cursor: pointer;
}
.hamburger_button.is-active {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger_button.is-active .hamburger_button_line:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translateY(2px);
          transform: rotate(45deg) translateY(2px);
}
.hamburger_button.is-active .hamburger_button_line:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}
.hamburger_button.is-active .hamburger_button_line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translateY(-2px);
          transform: rotate(-45deg) translateY(-2px);
}

.hamburger_button_line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #333;
  -webkit-transition: opacity 0.5s, visibility 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, background-color 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, background-color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

/** -----------------------------------
  modal
----------------------------------- */
@media screen and (max-width: 767px) {
  .modal {
    position: fixed;
    z-index: 3;
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 10rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 10rem);
    background-color: #333;
    -webkit-animation: modalShow 0.5s;
            animation: modalShow 0.5s;
  }
  .modal.is-show {
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.modal_item_link {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

/** -----------------------------------
  section
----------------------------------- */
.section {
  padding: 32rem 0;
}

.section_inner {
  max-width: 940rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .section_inner {
    padding: 0 10rem;
  }
}

.section_heading {
  position: relative;
  padding-bottom: 8rem;
  font-size: 36rem;
}
.section_heading::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  background-color: #000;
  content: "";
}
@media screen and (max-width: 767px) {
  .section_heading {
    padding-bottom: 4rem;
    font-size: 24rem;
  }
}

/** -----------------------------------
  kv
----------------------------------- */
.kv_item {
  overflow: hidden;
}

.kv_image {
  width: 100%;
  height: auto;
}

/** -----------------------------------
  other
----------------------------------- */
body::before {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
body.open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .wrapper {
    position: relative;
  }
}

.global_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .global_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** -----------------------------------
  スライドショー
----------------------------------- */
.vanillaSlide_container {
  position: relative;
}

.vanillaSlide_inner {
  padding: 40px;
  background-color: #333;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_inner {
    padding: 16rem;
  }
}

.vanillaSlide_list {
  position: relative;
  height: 100%;
}

.vanillaSlide_item {
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.vanillaSlide_item.is-show {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.vanillaSlide_arrows {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: calc(50% - 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrows {
    top: calc(50% - 16rem);
  }
}

.vanillaSlide_arrow {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow {
    width: 28rem;
    height: 28rem;
  }
}
.vanillaSlide_arrow::after {
  position: absolute;
  display: block;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  content: "";
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow::after {
    top: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-top: 1rem solid #333;
    border-right: 1rem solid #333;
  }
}
.vanillaSlide_arrow[data-arrow=prev] {
  left: -20px;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow[data-arrow=prev] {
    left: -15rem;
  }
}
.vanillaSlide_arrow[data-arrow=prev]::after {
  left: 26px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow[data-arrow=prev]::after {
    left: 18rem;
  }
}
.vanillaSlide_arrow[data-arrow=next] {
  right: -20px;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow[data-arrow=next] {
    right: -15rem;
  }
}
.vanillaSlide_arrow[data-arrow=next]::after {
  right: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .vanillaSlide_arrow[data-arrow=next]::after {
    right: 18rem;
  }
}
.vanillaSlide_arrow.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.vanillaSlide_navigation {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_navigation {
    margin-top: 8rem;
  }
}

.vanillaSlide_navigation_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -6px;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_navigation_list {
    margin: 0 -2rem;
  }
}

.vanillaSlide_navigation_item {
  display: inline-block;
  padding: 0 6px;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_navigation_item {
    padding: 0 2rem;
  }
}
.vanillaSlide_navigation_item.is-active .vanillaSlide_navigation_dot {
  background-color: #008080;
}

.vanillaSlide_navigation_dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .vanillaSlide_navigation_dot {
    width: 8rem;
    height: 8rem;
  }
}

/** -----------------------------------
  ニュースUIコンポーネント
----------------------------------- */
.newsUI_tab_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.newsUI_tab_item {
  width: inherit;
}

.newsUI_tab_input {
  display: none;
}

.newsUI_tab_input:checked + .newsUI_tab_label {
  background-color: #333;
  color: #fff;
}

.newsUI_tab_label {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 14rem 20rem;
  background-color: #efefef;
  text-align: center;
  line-height: 1;
  font-size: 16rem;
  cursor: pointer;
}

.newsUI_description {
  border-bottom: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-left: 2px solid #efefef;
}

.newsUI_description_inner {
  padding: 30rem;
}

.newsUI_description_contents {
  display: none;
}
.newsUI_description_contents.is-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.newsUI_description_list {
  display: grid;
  gap: 8rem;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.newsUI_error {
  font-size: 36rem;
}

.newsUI_description_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsUI_description_text {
  font-size: 16rem;
}

.newsUI_description_decorations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsUI_description_labelWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsUI_description_label {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgba(211, 211, 211, 0.4);
  border-radius: 20px;
}
.newsUI_description_label + .newsUI_description_comment {
  margin-left: 10rem;
}

.newsUI_description_decorations {
  margin-left: 16rem;
}

.newsUI_description_label_text {
  font-size: 16rem;
}

.newsUI_description_comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsUI_description_comment_icon {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:256px;height:256px;opacity:1"><path d="M442.539 73.946C397.7 36.018 333.59 13.863 255.205 13.881c-74.398 0-137.905 20.981-183.337 58.411-22.692 18.686-40.758 41.491-53.06 67.428C6.498 165.648-.01 194.641 0 225.422c-.018 37.214 7.777 71.586 23.511 101.577 15 28.664 37.298 53.04 65.699 72.103-6.715 28.269-16.148 68.67-16.148 68.689a23.777 23.777 0 0 0-.648 5.624c-.019 7.59 3.526 14.896 9.668 19.608l.038.028.009.01a24.806 24.806 0 0 0 15 5.06c3.987 0 8.031-.969 11.68-2.934l.367-.188.357-.216c.01-.01 5.069-3.01 12.856-7.618a29359.666 29359.666 0 0 1 45.291-26.745A5571.434 5571.434 0 0 1 189 447.912c5.916-3.46 10.477-6.104 12.16-7.034l.085-.047.113-.066c22.1-12.526 39.704-14.633 53.849-14.708 58.692-.085 121.212-11.464 171.13-42.62 24.894-15.602 46.561-36.413 61.806-63.056 15.272-26.624 23.886-58.853 23.858-96.16.121-58.677-24.584-112.441-69.462-150.275zm12.17 227.294c-8.812 15.375-20.37 28.316-34.232 39.282-20.774 16.429-46.862 28.288-75.479 35.934-28.598 7.664-59.642 11.088-89.792 11.078-18.517-.075-44.379 3.414-72.761 19.683v-.009c-3.14 1.749-10.128 5.822-19.345 11.219a16345.917 16345.917 0 0 0-45.15 26.614c3.545-15.094 7.655-32.576 10.73-45.413v-.019c.509-2.144.874-4.468.884-7.11.037-3.724-.922-8.266-3.075-12.046a24.507 24.507 0 0 0-5.436-6.583c-2.736-2.285-4.796-3.273-5.944-3.903l-1.157-.592-.131-.076C88.665 353.095 70.166 332.97 57.63 309.11c-12.517-23.896-19.1-51.78-19.11-83.689.01-25.401 5.295-48.526 15.085-69.188 14.718-30.94 39.668-56.604 73.786-74.896C161.482 63.083 204.789 52.4 255.205 52.4c71.276.019 125.933 20.031 162.45 50.952 36.47 31.025 55.702 72.799 55.824 120.864-.027 31.507-7.062 56.513-18.77 77.024z" style="fill:%23{$color}"/></svg>') no-repeat center/contain;
}

.newsUI_description_comment_num {
  margin-left: 6rem;
}

.newsUI_description_imageWrap {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  overflow: hidden;
  width: 300rem;
  margin-left: 16rem;
}
@media screen and (max-width: 767px) {
  .newsUI_description_imageWrap {
    display: none;
  }
}

.newsUI_description_image {
  width: 100%;
  height: auto;
}

/** -----------------------------------
  ユーザーテーブル
----------------------------------- */
.user_table {
  width: 100%;
}

.user_table_headBlock {
  width: inherit;
}

.user_table_row {
  display: grid;
  grid-template-columns: repeat(4, minmax(200rem, 1fr));
}

.user_table_head {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem 0;
  background-color: teal;
  text-align: center;
  font-size: 16rem;
}

.user_table_head_text {
  color: #fff;
}

.user_table_head_sortBtn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16rem;
  height: 16rem;
  margin-left: 4rem;
  background-color: transparent;
  cursor: pointer;
}
.user_table_head_sortBtn::after {
  position: absolute;
  display: block;
  width: 16rem;
  height: 16rem;
  background: url("/assets/media/images/table/both.svg") no-repeat center/contain;
  content: "";
}
.user_table_head_sortBtn.ascending::after {
  background: url("/assets/media/images/table/asc.svg") no-repeat center/contain;
}
.user_table_head_sortBtn.descending::after {
  background: url("/assets/media/images/table/desc.svg") no-repeat center/contain;
}

.user_table_description {
  text-align: center;
  line-height: 30rem;
  font-size: 16rem;
}
.user_table_description.heading {
  background-color: teal;
  color: #fff;
}/*# sourceMappingURL=vanilla.css.map */