@charset "UTF-8";
@use "../base/reset" as *;
@use "../base/variable" as *;
@use "../base/media" as *;
@use "../base/animation" as *;
@use "../base/setting" as *;
@use "../module/common" as *;
@use "../base/function" as *;

.login_inner {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;

  @include media767 {
    display: grid;
    place-items: center;
    height: calc(100vh - 70px);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login_container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.form {
  box-shadow: 2px 2px 5px $colorGray;
  margin-bottom: 5px;
}

.form_feild {
  padding: 24px;
}

.form_heading {
  text-align: center;

  &+* {
    margin-top: 20px;
  }
}

.form_group {
  position: relative;
}

.form_input {
  width: 100%;
  padding: 24px 10px 8px;
  border-bottom: 1px solid $colorBlack;

  &:focus {
    + .form_label {
      top: .7em;
      color: $colorGray;
      font-size: 13px;
      transform: translateY(0);
    }
  }
}

.form_label {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  color: $colorBlack;
  font-size: 16px;
  transform: translateY(-50%);
  transition: top .2s, color .2s, font-size .2s, transform .2s;

  &.is-active {
    top: .7em;
    color: $colorGray;
    font-size: 13px;
    transform: translateY(0);
  }
}

.form_passwordSwitchBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url("/assets/media/images/icon/icon_hide.png") no-repeat center/contain;
  transform: translateY(-50%);
  cursor: pointer;

  &.is-active {
    background: url("/assets/media/images/icon/icon_show.png") no-repeat center/contain;
  }
}

.form_submit {
  display: block;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 3px;
  padding: 16px 0;
  background-color: $colorTeal;
  box-shadow: 0 3px 0 rgba($colorTeal, .5);
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  color: $colorWhite;
  font-size: 20px;
  transition: box-shadow .5s, transform .5s, color .5s, background-color .5s, pointer-events .5s;
  
  @media (hover: hover) {
    &:hover {
      box-shadow: none;
      transform: translateY(3px);
    }
  }
  
  &.is-inactive {
    pointer-events: none;
    color: rgba($colorGray, .3);
    background-color: rgba($colorGray, .1);
    box-shadow: 0 3px 0 rgba($colorGray, .05);
  }
}

.form_errorWrap {
  &.is-hidden {
    animation: hideErrorMessage .5s;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
    display: block;
    margin-top: rem(4);
    margin-left: auto;
    color: $colorVivitRed;
    font-size: rem(12);
    animation: showErrorMessage .5s;
  }
}

.form_error {
  line-height: 1.5;
}

.formFooter {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  margin-top: 32px;
}

.formLink {
  position: relative;
  padding: 4px;
  color: $colorGray;
  font-size: 12px;

  &::after {
    position: absolute;
    content: '';
    left: 4px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: block;
    width: calc(100% - (4px * 2));
    height: 1px;
    border-bottom: 1px dotted $colorGray;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}