@charset "UTF-8";
@use "../base/reset" as *;
@use "../base/variable" as *;
@use "../base/media" as *;
@use "../base/animation" as *;
@use "../base/setting" as *;
@use "../module/common" as *;
@use "../base/function" as *;

@keyframes showErrorMessage {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  1% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@keyframes hideErrorMessage {
  0% {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  1% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.wrapper {
  padding-top: rem(24);

  @include media1279 {
    padding-top: rem(24);
  }
}

/** -----------------------------------
  会員登録
----------------------------------- */
.register_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(1280);
  margin-inline: auto;
  @include media767 {
    max-width: initial;
    padding-inline: rem(30);
  }
}

.register_title {
  font-size: rem(36);

  @include media1279 {
    font-size: rem(36);
  }
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: rem(32);
}

.register_list {
  display: grid;
  gap: rem(24);
  max-width: calc(rem(300) + (rem(16)));
  width: 100%;

  @include media1279 {
    gap: rem(24);
  }
}

.register_label {
  font-size: rem(16);

  @include media1279 {
    font-size: rem(16);
  }
}

.register_inputArea {
  margin-top: rem(6);
}

.register_input {
  width: 100%;
  padding: rem(8) 0 rem(8) rem(8);
  border: 1px solid $colorBlack;
  border-radius: rem(4);

  &::placeholder {
    font-size: rem(14);
  }
}

.register_passwordArea {
  position: relative;
  margin-top: rem(6);
}

.register_password {
  margin-top: 0;
}

.register_errorWrap {
  &.is-hidden {
    animation: hideErrorMessage .5s;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
    display: block;
    margin-top: rem(4);
    margin-left: auto;
    color: $colorVivitRed;
    font-size: rem(12);
    animation: showErrorMessage .5s;
  }
}

.register_error {
  @include media767 {
    line-height: 1.5;
  }
}

.register_passwordBtn {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 16px;
  height: 16px;
  background: url("/assets/media/images/icon/icon_hide.png") no-repeat center/contain;
  transform: translateY(-50%);
  cursor: pointer;
  &.is-active {
    background: url("/assets/media/images/icon/icon_show.png") no-repeat center/contain;
  }
}

.register_agree {
  display: flex;
  align-items: center;
  margin-top: rem(24);

  @include media1279 {
    margin-top: rem(24);
  }
}

.register_agree_checkbox {
  cursor: pointer;
  transition: pointer-events .5s, cursor .5s;

  &:disabled {
    pointer-events: none;
    cursor: initial;
  }
}


.register_agree_label {
  margin-left: rem(6);
  font-size: rem(16);

  @include media1279 {
    margin-left: rem(6);
    font-size: rem(16);
  }
}

.register_agree_modalTriger {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.register_submitWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(24);

  @include media1279 {
    margin-top: rem(24);
  }
}

.register_submit {
  width: rem(160);
  padding: rem(8) 0;
  background-color: $colorTeal;
  border-radius: 5px;
  border: 2px solid $colorTeal;
  text-align: center;
  color: $colorWhite;
  font-size: rem(16);
  transition: background-color .5s, border .5s, color .5s;
  cursor: pointer;

  @include media1279 {
    width: rem(160);
    padding: rem(8) 0;
    font-size: rem(16);
  }

  @media(hover: hover) {
    &:hover {
      background-color: $colorWhite;
      color: $colorTeal;
    }
  }

  &.is-nonActive {
    pointer-events: none;
    background-color: $colorLightGray;
    border: 2px solid $colorLightGray;
    color: rgba($colorBlack, .6);
  }
}

/** -----------------------------------
  利用規約
----------------------------------- */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba($colorBlack, .6);
  backdrop-filter: blur(4px);
  transition: opacity .5s, visibility .5s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.termsOfService {
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  border: none;
  transform: translate(-50%, -50%);
  transition: opacity .5s, visibility .5s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.termsOfService_inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: rem(600);

  @include media1279 {
    height: rem(600);
  }
}

.termsOfService_body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: rem(20);
  background-color: $colorWhite;
  border-radius: rem(20);

  @include media1279 {
    padding: rem(20);
    border-radius: rem(20);
  }
}

.termsOfService_title {
  font-size: rem(36);

  @include media1279 {
    font-size: rem(36);
  }
}

.termsOfService_textWrap {
  margin-top: rem(24);
  font-size: rem(16);

  @include media1279 {
    margin-top: rem(24);
    font-size: rem(16);
  }
}

.termsOfService_text {
  line-height: 1.5;
}

.termsOfService_closeWrap {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: calc(rem(-10) + -1em);
  width: 100%;
  padding: rem(10);
  text-align: right;
  background-color: $colorWhite;
  border-top: 1px solid $colorLightGray;
}

.termsOfService_close {
  padding: 6px;
  box-shadow: 0 2px 0 $colorLightGray;
  font-size: rem(14);
}