@charset "UTF-8";
@use "../base/reset" as *;
@use "../base/variable" as *;
@use "../base/media" as *;
@use "../base/animation" as *;
@use "../base/setting" as *;
@use "../module/common" as *;
@use "../base/function" as *;

@keyframes showErrorMessage {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  1% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@keyframes hideErrorMessage {
  0% {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  1% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.wrapper {
  padding-top: rem(24);

  @include media1279 {
    padding-top: vw1279(24);
  }
}

/** -----------------------------------
  会員登録
----------------------------------- */
.register_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register_title {
  font-size: rem(36);

  @include media1279 {
    font-size: vw1279(36);
  }
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register_list {
  display: grid;
  gap: rem(24);
  justify-content: center;
  margin-top: rem(24);

  @include media1279 {
    gap: vw1279(24);
    margin-top: vw1279(24);

  }
}

.register_term {
  font-size: rem(16);

  @include media1279 {
    font-size: vw1279(16);
  }
}

.register_field {
  width: 100%;
  margin-top: rem(6);
  border: 1px solid $colorBlack;

  @include media1279 {
    margin-top: vw1279(6);
  }
}

.register_errorWrap {
  &.is-hidden {
    animation: hideErrorMessage .5s;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
    display: block;
    margin-top: 4px;
    margin-left: auto;
    color: $colorVivitRed;
    font-size: 12px;
    animation: showErrorMessage .5s;
  }
}

.register_agree {
  display: flex;
  align-items: center;
  margin-top: rem(24);

  @include media1279 {
    margin-top: vw1279(24);
  }
}

.register_agree_checkbox {
  cursor: pointer;
  transition: pointer-events .5s, cursor .5s;

  &:disabled {
    pointer-events: none;
    cursor: initial;
  }
}


.register_agree_label {
  margin-left: rem(6);
  font-size: rem(16);

  @include media1279 {
    margin-left: vw1279(6);
    font-size: vw1279(16);
  }
}

.register_agree_modalTriger {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.register_submitWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(24);

  @include media1279 {
    margin-top: vw1279(24);
  }
}

.register_submit {
  width: rem(160);
  padding: rem(8) 0;
  background-color: $colorTeal;
  border-radius: 5px;
  border: 2px solid $colorTeal;
  color: $colorWhite;
  font-size: rem(16);
  transition: background-color .5s, border .5s, color .5s;
  cursor: pointer;

  @include media1279 {
    width: vw1279(160);
    padding: vw1279(8) 0;
    font-size: vw1279(16);
  }

  @media(hover: hover) {
    &:hover {
      background-color: $colorWhite;
      color: $colorTeal;
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: $colorLightGray;
    border: 2px solid $colorLightGray;
    color: rgba($colorBlack, .6);
  }
}

/** -----------------------------------
  利用規約
----------------------------------- */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba($colorBlack, .6);
  backdrop-filter: blur(4px);
  transition: opacity .5s, visibility .5s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.termsOfService {
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  transition: opacity .5s, visibility .5s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.termsOfService_inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: rem(400);

  @include media1279 {
    height: vw1279(400);
  }
}

.termsOfService_body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: rem(20);
  background-color: $colorWhite;
  border-radius: rem(20);

  @include media1279 {
    padding: vw1279(20);
    border-radius: vw1279(20);
  }
}

.termsOfService_title {
  font-size: rem(36);

  @include media1279 {
    font-size: vw1279(36);
  }
}

.termsOfService_textWrap {
  margin-top: rem(24);
  font-size: rem(16);

  @include media1279 {
    margin-top: vw1279(24);
    font-size: vw1279(16);
  }
}

.termsOfService_text {
  line-height: 1.5;
}