@charset "UTF-8";
@use "../base/reset" as *;
@use "../base/variable" as *;
@use "../base/media" as *;
@use "../base/animation" as *;
@use "../base/setting" as *;
@use "../base/function" as *;

/** -----------------------------------
  header
----------------------------------- */
.header {
  position: fixed;

  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colorWhite;
  transition: box-shadow .3s;

  &.is-active {
    box-shadow: 0 rem(4) rem(4) rgba($colorBlack, .2);
  }
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(24);

  @include media1279 {
    padding: rem(24);
  }

  @include media767 {
    padding: rem(10);
  }
}

.header_title {
  font-size: rem(36);

  @include media1279 {
    font-size: rem(36);
  }

  @include media767 {
    font-size: rem(20);
  }
}

.header_nav {
  @include media767 {
    display: none;
  }
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media767 {
    flex-direction: column;
  }
}

.header_item_link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: rem(32);
  padding: 0 rem(16);
  text-align: center;
  font-weight: 700;
  font-size: rem(16);

  @include media1279 {
    padding: 0 rem(16);
    font-size: rem(16);
  }

  &::after {
    position: absolute;
    display: block;
    bottom: rem(-6);
    width: 0;
    height: rem(2);
    background-color: $colorPureBlack;
    content: '';
    transition: width .3s;
  }


  @media (hover: hover) {
    &:hover {
      &::after {
        width: 32%;
      }
    }
  }
}

/** -----------------------------------
  main
----------------------------------- */

/** -----------------------------------
  footer
----------------------------------- */

/** -----------------------------------
  hamburger
----------------------------------- */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: rem(50);
  height: rem(50);
  padding: rem(10);
  background-color: transparent;

  @include media1279 {
    width: rem(50);
    height: rem(50);
    padding: rem(10);
  }

  @include media767 {
    z-index: 4;
    display: flex;
  }

  &.is-active {
    justify-content: center;

    .hamburger_line {
      &:nth-child(1) {
        transform: rotate(45deg) translateY(rem(2));
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(rem(-2));
      }
    }
  }
}

.hamburger_line {
  display: inline-block;
  width: 100%;
  height: rem(2);
  background-color: $colorBlack;
  transition: opacity .5s, visibility .5s, background-color .5s, transform .5s;
}

/** -----------------------------------
  burgerMenu
----------------------------------- */
.burgerMenu {
  @include media767 {
    position: fixed;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    top: rem(70);
    left: 0;
    width: 100vw;
    height: calc(100vh - rem(70));
    background-color: $colorBlack;
    animation: modalShow .5s;

    &.is-show {
      opacity: 1;
      display: flex;
    }
  }
}

.burgerMenu_list {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
}

.burgerMenu_link {
  color: $colorWhite;
  font-weight: 700;
  font-size: rem(24);
}

/** -----------------------------------
  section
----------------------------------- */
.section {
  padding: rem(32) 0;

  @include media1279 {
    padding: rem(32) 0;
  }
}

.section_inner {
  max-width: rem(940);
  margin-left: auto;
  margin-right: auto;

  @include media1279 {
    max-width: rem(940);
  }

  @include media767 {
    padding: 0 rem(10);
  }
}

.section_heading {
  position: relative;
  padding-bottom: rem(8);
  font-size: rem(36);

  @include media1279 {
    padding-bottom: rem(8);
    font-size: rem(36);
  }

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: rem(3);
    bottom: 0;
    left: 0;
    background-color: $colorPureBlack;
    content: '';
  }

  @include media767 {
    padding-bottom: rem(4);
    font-size: rem(24);
  }
}

/** -----------------------------------
  kv
----------------------------------- */
.kv_item {
  overflow: hidden;
}

.kv_image {
  width: 100%;
  height: auto;
}

/** -----------------------------------
  other
----------------------------------- */
body {
  &::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }

  &.open {
    overflow: hidden;
  }
}

.wrapper {
  padding-top: rem(84);

  @include media1279 {
    padding-top: rem(84);
  }

  @include media767 {
    position: relative;
    padding-top: rem(70);
  }
}

.global_container {
  display: flex;
  justify-content: space-between;

  @include media1279 {
    flex-direction: column;
  }
}