/** -----------------------------------
  カラー変数
----------------------------------- */
$colorPureBlack: #000;
$colorBlack: #333;
$colorWhite: #fff;
$colorGreen: #008000;
$colorLightGreen: #90ee90;
$colorTeal: #008080;