@charset "UTF-8";
@use "setting" as *;
@use "common" as *;

.gallery_inner {
  display: flex;
  width: 100%;
  margin: 0 -4px;
}

.gallery_container {
  display: grid;
  gap: 8px;
  width: calc(100% / 3);
  padding: 0 4px;
}

.gallery_imageWrap {
  position: relative;
  overflow: hidden;
}

.gallery_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorBlack;
  border-radius: 10px;
}