@charset "UTF-8";
@use "setting" as *;
@use "common" as *;

/** -----------------------------------
  スライドショー
----------------------------------- */
.vanillaSlide_container {
  position: relative;
}

.vanillaSlide_inner {
  padding: 40px;
  background-color: $colorBlack;

  @include media1279 {
    padding: 40rem;
  }

  @include media767 {
    padding: 16rem;
  }
}

.vanillaSlide_list {
  position: relative;
  height: 100%;
}

.vanillaSlide_item {
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  transition: opacity 0.5s;

  &.is-show {
    position: relative;
    z-index: 1;
    opacity: 1;
  }
}

.vanillaSlide_arrows {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: calc(50% - 8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media1279 {
    top: calc(50% - 8rem);
  }
  
  @include media767 {
    top: calc(50% - 16rem);
  }
}

.vanillaSlide_arrow {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: $colorWhite;
  border-radius: 50%;
  cursor: pointer;
  
  @include media1279 {
    width: 48rem;
    height: 48rem;
  }
  @include media767 {
    width: 28rem;
    height: 28rem;
  }

  &::after {
    position: absolute;
    display: block;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-top: 2px solid $colorBlack;
    border-right: 2px solid $colorBlack;
    content: "";
    
    @include media1279 {
      top: calc(50% - 4rem);
      width: 8rem;
      height: 8rem;
    }
    @include media767 {
      top: calc(50% - 2rem);
      width: 4rem;
      height: 4rem;
      border-top: 1rem solid $colorBlack;
      border-right: 1rem solid $colorBlack;
    }
  }

  &[data-arrow="prev"] {
    left: -20px;
    
    @include media1279 {
      left: -20rem;
    }
    @include media767 {
      left: -15rem;
    }

    &::after {
      left: 26px;
      transform: rotate(-135deg);

      @include media767 {
        left: 18rem;
      }
    }
  }

  &[data-arrow="next"] {
    right: -20px;
    
    @include media1279 {
      right: -20rem;
    }
    @include media767 {
      right: -15rem;
    }

    &::after {
      right: 26px;
      transform: rotate(45deg);

      @include media767 {
        right: 18rem;
      }
    }
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

// navigation
.vanillaSlide_navigation {
  margin-top: 16px;
  @include media1279 {
    margin-top: 16rem;
  }

  @include media767 {
    margin-top: 8rem;
  }
}

.vanillaSlide_navigation_list {
  display: flex;
  justify-content: center;
  margin: 0 -6px;
  @include media1279 {
    margin: 0 -6rem;
    
  }

  @include media767 {
    margin: 0 -2rem;
  }
}

.vanillaSlide_navigation_item {
  display: inline-block;
  padding: 0 6px;
  @include media1279 {
    padding: 0 6rem;
    
  }

  @include media767 {
    padding: 0 2rem;
  }

  &.is-active {
    .vanillaSlide_navigation_dot {
      background-color: $colorTeal;
    }
  }
}

.vanillaSlide_navigation_dot {
  width: 10px;
  height: 10px;
  background-color: $colorWhite;
  border-radius: 50%;
  cursor: pointer;
  
  @include media1279 {
    width: 10rem;
    height: 10rem;
    
  }
  @include media767 {
    width: 8rem;
    height: 8rem;
  }
}

/** -----------------------------------
  ニュースUIコンポーネント
----------------------------------- */
.newsUI_tab {}

.newsUI_tab_list {
  display: flex;
  align-items: center;
  width: 100%;
}

.newsUI_tab_item {
  width: inherit;
}

.newsUI_tab_input {
  display: none;
}


.newsUI_tab_input:checked+.newsUI_tab_label {
  background-color: $colorBlack;
  color: $colorWhite;
}

.newsUI_tab_label {
  appearance: none;
  display: block;
  padding: 14px 20px;
  background-color: #efefef;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  @include media1279 {
    padding: 14rem 20rem;
    font-size: 16rem;
    
  }
}

.newsUI_description {
  border-bottom: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-left: 2px solid #efefef;
}

.newsUI_description_inner {
  padding: 30px;
  @include media1279 {
    padding: 30rem;
    
  }
}

.newsUI_description_contents {
  display: none;

  &.is-active {
    display: flex;
  }
}

.newsUI_description_list {
  display: grid;
  gap: 8px;
  align-self: flex-start;
  flex: auto;
  @include media1279 {
    
    gap: 8rem;
  }
}

.newsUI_error {
  font-size: 36px;
  @include media1279 {
    font-size: 36rem;
    
  }
}

.newsUI_description_item {}

.newsUI_description_body {
  display: flex;
  align-items: center;
}

.newsUI_description_text {
  font-size: 16px;
  @include media1279 {
    font-size: 16rem;
    
  }
}

.newsUI_description_decorations {
  display: flex;
  align-items: center;
}

.newsUI_description_labelWrap {
  display: flex;
  align-items: center;
}

.newsUI_description_label {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgba($colorLightGray, .4);
  border-radius: 20px;
  @include media1279 {
    
    padding: 8rem;
    border-radius: 20rem;
  }

  &+.newsUI_description_comment {
    margin-left: 10px;
    @include media1279 {
      margin-left: 10rem;
      
    }
  }
}

.newsUI_description_decorations {
  margin-left: 16px;
  @include media1279 {
    margin-left: 16rem;
    
  }
}

.newsUI_description_label_text {
  font-size: 16px;
  @include media1279 {
    font-size: 16rem;
    
  }
}

.newsUI_description_comment {
  display: flex;
  align-items: center;
}

.newsUI_description_comment_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  @include icon-bubble($colorBlack);
  @include media1279 {
    width: 30rem;
    height: 30rem;
    
  }
}

.newsUI_description_comment_num {
  margin-left: 6px;
  @include media1279 {
    margin-left: 6rem;
    
  }
}

.newsUI_description_imageWrap {
  align-self: flex-start;
  overflow: hidden;
  width: 300px;
  margin-left: 16px;
  @include media1279 {
    width: 300rem;
    margin-left: 16rem;
    
  }

  @include media767 {
    display: none;
  }
}

.newsUI_description_image {
  width: 100%;
  height: auto;
}

/** -----------------------------------
  ユーザーテーブル
----------------------------------- */
.user_table {
  width: 100%;
}

.user_table_headBlock {
  width: inherit;
}

.user_table_row {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  @include media1279 {
    grid-template-columns: repeat(4, minmax(200rem, 1fr));
  }
}

.user_table_head {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: teal;
  text-align: center;
  font-size: 16px;
  @include media1279 {
    
    padding: 10rem 0;
    font-size: 16rem;
  }
}

.user_table_head_text {
  color: #fff;
}

.user_table_head_sortBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-color: transparent;
  cursor: pointer;
  @include media1279 {
    width: 16rem;
    height: 16rem;
    margin-left: 4rem;
    
  }

  &::after {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url("/assets/media/images/table/both.svg") no-repeat center/contain;
    content: "";
    @include media1279 {
      width: 16rem;
      height: 16rem;
      
    }
  }

  &.ascending {
    &::after {
      background: url("/assets/media/images/table/asc.svg") no-repeat center/contain;
    }
  }

  &.descending {
    &::after {
      background: url("/assets/media/images/table/desc.svg") no-repeat center/contain;
    }
  }
}

.user_table_body {}

.user_table_description {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  @include media1279 {
    line-height: 30rem;
    font-size: 16rem;
    
  }

  &.heading {
    background-color: teal;
    color: #fff;
  }
}

/** -----------------------------------
  状態管理系
----------------------------------- */
.visibility-hidden {
  display: none;
}